<h1>Listing Trips </h1>
	<%= link_to "New Trip", new_trip_path %>
	</br>

<table>
	<tr>
		<th>Name of Trip</th>
		<th>Region</th>
		<th colspan="3"></th>
	</tr>

    <% @trips.each do |trip| %>
   
	<tr>
		<td><%= trip.title %></td>
		<td><%= trip.region %></td>
		<td><%= link_to 'Show', trip_path(trip) %></td>
		<td><%= link_to 'Edit', trip_path(trip) %></td>
		<td><%= link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' } %></td>

	</tr>
	<% end %>
</table>